body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d0e9ff;
    font-family: Arial, sans-serif;
    overflow: hidden;
    touch-action: none;
    gap: 30px;
}

.card-container {
    perspective: 1000px;
    width: 300px;
    height: 420px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.1s;
    border-radius: 15px;
    background: #f0f0f0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform-origin: center center;
    background-image: url("/Assets/persona.png");
}

.card-content {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: top;
    /* align-items: center; */
    color: #0B1737;
    /* text-align: top; */
    padding: 20px;
    box-sizing: border-box;
}


@media (max-width: 480px) {
    .card-container {
        width: 250px;
        height: 350px;
    }
}

button {
    font-weight: 700;
    transition: all 1s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #0B1737;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #f0f0f0;
}

button:hover {
    background: #E424B4;
}

button>svg {
    width: 34px;
    margin-left: 10px;
    transition: transform 0.5s ease-in-out;
}

button:hover svg {
    transform: translateX(5px);
}

button:active {
    transform: scale(0.95);
}

a {
    text-decoration: none;
    /* Removes the underline */
    color: inherit;
    /* Inherits text color from parent */
}