* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLE */

html,
body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-image: url('Assets/bg.png');
    background-size: cover;

}

@media (max-width: 800px) {

    html,
    body {
        width: 100%;
        height: auto;
        background-image: url('Assets/bg.png');
        background-size: cover;

    }
}

/* Section 1: Hero */
.section-1 {
    height: 100vh;
    width: 100%;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Sections */
.section-2,
.section-3,
.section-4,
.section-5,
.section-6 {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    overflow: visible;
}
   .section-6 {
        align-items: center;
    }
.container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 20px;
}

.img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
    width: 100%;
    position: absolute;
    z-index: 1;
}

#h1rotate {
    transform: rotateZ(180deg) translateY(9px);
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    z-index: 0;
    overflow: hidden;
}

#myVideo2 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    overflow: hidden;
}

#myVideo3 {
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* z-index: 0; */
    overflow: hidden;
}

@media (max-width: 800px) {
    .hero-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 25px;
        width: 100%;
        position: absolute;
        z-index: 1;
    }
#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
    overflow: hidden;
}

    .section-4,
    .section-6 {
        height: 100vh;
        width: 100%;
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: center;
        background-color: transparent;
    }

    .section-1 {
        height: 100vh;
        width: 100%;
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 20px;
        padding-bottom: 15px;
        overflow: hidden;
    }

    #myVideo {
        max-height: 100vh;
        object-fit: cover;
    }

    .section-2 {
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 100vh;
        width: 100%;
        align-items: center;

    }

    .section-3 {
        height: 100vh;
        width: 100%;
        display: flex;
        position: relative;
        overflow: visible;
        z-index: 0;
    }

    .section-4 {
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: center;
        word-wrap: break-word;
        overflow-wrap: break-word;

    }
    .section-6 {
        align-items: center;
    }

    .container {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        /* padding: 20px; */
    }

    .titre-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
    }

    .img-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}


.section-2 .container {
    z-index: 1;
}
/* LAPTOP VERSION */
#img-1 {
    position: absolute;
    height: auto;
    animation: floating 6s ease-in-out infinite;
    width: 800px;
    top: -30px;
    right: -300px;
    rotate: calc(80deg);
    z-index: 100;
}
#img-2 {
    position: absolute;
    width: 550px;
    height: auto;
    width: 820px;
    bottom: 20px;
    left: -400px;
    rotate: calc(20deg);
    animation: floating 4s ease-in-out infinite;
    animation-delay: 0.5s;

}
#img-3 {
    position: absolute;
    width: 550px;
    height: auto;
    top: -120px;
    left: 50px;
    animation: floating 5s ease-in-out infinite;
    animation-delay: 1s;
}
#img-4 {
    position: absolute;
    width: 1000px;
    height: auto;
    bottom: 70px;
    right: -200px;
    rotate: calc(190deg);
    z-index: 0;
    animation: floating 6s ease-in-out infinite;
    animation-delay: 1.5s;
}
#img-5 {
    position: absolute;
    width: 400px;
    height: auto;
    top: -300px;
    left: -100px;
    rotate: calc(-10deg);
    animation: floating 6s ease-in-out infinite;
    animation-delay: 0.3s;
    z-index: 100;
}
#img-6 {
    position: absolute;
    width: 520px;
    height: auto;
    bottom: 200px;
    right: -160px;
    rotate: calc(15deg);
    animation: floating 4.5s ease-in-out infinite;
    animation-delay: 0.5s;
    z-index: 10;
}
#img-7 {
    position: absolute;
    width: 200px;
    height: auto;
    top: 0px;
    right: 30px;
    rotate: calc(-45deg);
    /* filter: hue-rotate(320deg); */
    animation: floating 3s ease-in-out infinite;
    animation-delay: 0.8s;
    z-index: 120;
}
#img-8 {
    position: absolute;
    width: 400px;
    height: auto;
    bottom: -80px;
    right: -100px;
    rotate: calc(-20deg);
    animation: floating 5s ease-in-out infinite;
    animation-delay: 1s;
    z-index: 100;
}
#img-9 {
    position: absolute;
    width: 250px;
    height: auto;
    top: 170px;
    right: -50px;
    rotate: calc(50deg);
    animation: floating 6s ease-in-out infinite;
    animation-delay: 1s;
    z-index: 10;
}
#img-10 {
    position: absolute;
    width: 600px;
    height: auto;
    bottom: -20px;
    right: 0px;
    /* rotate: calc(180deg); */
    animation: floating 5s ease-in-out infinite;
    animation-delay: 1s;
    z-index: 2;
}
#img-11 {
    position: absolute;
    width: 240px;
    height: auto;
    top: -200px;
    left: -50px;
    rotate: calc(16deg);
    animation: floating 5s ease-in-out infinite;
    animation-delay: 2s;
    z-index: 1;
}
#img-12 {
    position: absolute;
    width: 418px;
    height: auto;
    bottom: 25px;
    right: 2px;
    animation: floating 9s ease-in-out infinite;
    animation-delay: 1s;
    z-index: 0;
}
#img-13 {
    position: absolute;
    width: 560px;
    height: auto;
    bottom: -270px;
    left: -60px;
    animation: floating 4s ease-in-out infinite;
    animation-delay: 0.2s;
    z-index: 1;
}
#img-14 {
    position: absolute;
    width: 250px;
    height: auto;
    top: 100px;
    left: 400px;
    animation: floating 5s ease-in-out infinite;
    animation-delay: 0.1s;
    z-index: 0;
}
#img-15 {
    position: absolute;
    width: 550px;
    height: auto;
    bottom: 200px;
    left: 600px;
    filter: hue-rotate(320deg);
    animation: floating 6s ease-in-out infinite;
    animation-delay: 0.14s;
    z-index: 0;
}
#img-16 {
    position: absolute;
    width: 360px;
    height: auto;
    top: -120px;
    right: 5px;
    animation: floating 3s ease-in-out infinite;
    animation-delay: 0.1s;
    z-index: 200;
}

@media (max-width: 900px) {
    .img-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    #img-1 {
        position: absolute;
        height: auto;
        animation: floating 6s ease-in-out infinite;
        width: 600px;
        top: -50px;
        right: -300px;
        rotate: calc(80deg);
        z-index: 100;
    }
    #img-2 {
        position: absolute;
        width: 250px;
        height: auto;
        width: 820px;
        bottom: 10%;
        left: -400px;
        rotate: calc(30deg);
        animation: floating 4s ease-in-out infinite;
        animation-delay: 0.5s;
    }

    #img-3 {
        position: absolute;
        width: 400px;
        height: auto;
        top: -100px;
        left: -10px;
        animation: floating 5s ease-in-out infinite;
        animation-delay: 1s;
    }
    #img-4 {
        position: absolute;
        width: 800px;
        height: auto;
        bottom: 70px;
        right: -300px;
        rotate: calc(190deg);
        z-index: 0;
        animation: floating 6s ease-in-out infinite;
        animation-delay: 1.5s;
    }
    #img-5 {
        position: absolute;
        width: 260px;
        height: auto;
        top: -160px;
        left: -100px;
        rotate: calc(-10deg);
        animation: floating 6s ease-in-out infinite;
        animation-delay: 0.3s;
        z-index: 100;
    }
    #img-6 {
        position: absolute;
        width: 190px;
        height: auto;
        top: 80px;
        right: -30px;
        rotate: calc(20deg);
        animation: floating 4.5s ease-in-out infinite;
        animation-delay: 0.5s;
        z-index: 10;
    }
    #img-7 {
        position: absolute;
        width: 150px;
        height: auto;
        top: 0px;
        right: 50px;
        rotate: calc(-45deg);
        animation: floating 3s ease-in-out infinite;
        animation-delay: 0.8s;
        z-index: 120;
    }
    #img-8 {
        position: absolute;
        width: 280px;
        height: auto;
        bottom: -25px;
        right: -100px;
        rotate: calc(-20deg);
        animation: floating 5s ease-in-out infinite;
        animation-delay: 1s;
        z-index: 100;
    }
    #img-9 {
        position: absolute;
        width: 300px;
        height: auto;
        bottom: 40%;
        right: -150px;
        rotate: calc(85deg);
        animation: floating 6s ease-in-out infinite;
        animation-delay: 1s;
        z-index: 10;
    }
    #img-10 {
        position: absolute;
        width: 400px;
        height: auto;
        bottom: -20px;
        right: 0px;
        /* rotate: calc(180deg); */
        animation: floating 5s ease-in-out infinite;
        animation-delay: 1s;
        z-index: 1;
    }

    #img-11 {
        position: absolute;
        width: 160px;
        height: auto;
        top: -40px;
        left: -30px;
        rotate: calc(16deg);
        animation: floating 5s ease-in-out infinite;
        animation-delay: 2s;
        z-index: 1;
    }
    #img-12 {
        position: absolute;
        width: 418px;
        height: auto;
        bottom: 25px;
        right: 2px;
        animation: floating 9s ease-in-out infinite;
        animation-delay: 1s;
        z-index: 0;
    }
    #img-13 {
        position: absolute;
        width: 260px;
        height: auto;
        bottom: 30px;
        left: -50px;
        animation: floating 4s ease-in-out infinite;
        animation-delay: 0.2s;
        z-index: 2;
    }
    #img-14 {
        position: absolute;
        width: 270px;
        height: auto;
        bottom: 50px;
        right: 100px;
        /* filter: hue-rotate(320deg); */
        animation: floating 5s ease-in-out infinite;
        animation-delay: 0.1s;
        z-index: 1;
    }
    #img-15 {
        position: absolute;
        width: 20px;
        height: auto;
        bottom: 300px;
        right: 100px;
        animation: floating 6s ease-in-out infinite;
        animation-delay: 0.14s;
        z-index: 0;
    }

    #img-16 {
        position: absolute;
        width: 160px;
        height: auto;
        top: -120px;
        right: 5px;
        animation: floating 3s ease-in-out infinite;
        animation-delay: 0.1s;
        z-index: 200;
    }
}

@keyframes floating {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }
}